* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 25px;
}

label {
	margin-left: 10px;
}

input {
	display: block;
	margin: 10px;
}

h1 {
	color: red;
	margin-bottom: 20px;
}

span:nth-of-type(2) {
	color: red;
}

button {
	background-color: lightgreen;
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	border-radius: 15px;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
	margin-top: 20px;
}

button:hover {
	background-color: rgb(253, 151, 133);
}

.paraNew {
	color: orange;
	margin: 20px;
	font-size: 1.5em;
}

.newDiv {
	background-color: lightcoral;
	color: blue;
	width: 25vw;
	height: 20vh;
	padding: 10px 30px;
	border-radius: 15px;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
	margin-top: 20px;
}

section {
	width: 85%;
	margin: auto;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}

.imgDetails {
	width: 220px;
	height: 30vh;
	background-size: cover;
}

.imgDetails:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
